header{
    display: none;
}
nav{
    display: none;
}
main{
    font-size: 12px; font-family: Times,serif;
    width: 100%;
}
footer{
    display: none;
}
body{
    color: #000000;
    background-color: #FFFFFF;
}
a:link{
    color: #0000CC;
    text-decoration: underline;
}
a:visited{
    color: #0000CC;
    text-decoration: none;
}
a:link:after{
    content:" [" attr(href) "] ";
} 
a:visited:after{ 
    content:" [" attr(href) "] "; 
}
iframe{
    display: none;
}