/*Boxar*/
header{
    margin: 0 auto;
    width: 80%;
}
nav{
    margin: 0 auto;
    width: 80%;
    border-radius: 10px 10px 0 0;
}
main{
    margin: 0 auto;
    width: 80%;
    background: #46A3FF;
    border-radius: 10px 10px 0 0;
}
section{
    float: left;
    width: 50%;
    background: #46A3FF;
}
footer{
    margin: 0 auto;
    width: 80%;
    background: #46A3FF;
    border-radius: 0 0 10px 10px;
    text-indent: 2px;
}
#breakrow{
    clear: both;
}

/*Menyn*/
#menu ul{
    float: left;
    margin-left: 140px;
    margin-top: 0;
}

#menu a{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 45px 6px 45px;
}

#menu ul li{
    display: block;
    list-style-type: none;
    text-decoration: none;
    width: auto;
    float: left;
    margin-left: 0.1em;
    background-color: #000B61;
    border-radius: 10px 10px 10px 10px;
}

#menu ul li.current{
    background-color: #46A3FF;
    margin-top: -1px;
}

#menu ul li.current a{
    color: #FFFFFF;
}

#menu ul li:hover{
    background: #F5D600;    
}

.center{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body{
    background-image: url(pics/background.jpg);
    color: #FFFFFF;
}

iframe{
    border: none;
}

a:link{
    color: #FFFFFF;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

a:visited{
    text-decoration: none;
    color: #FFFFFF;
}

/*Mobil CSS*/
@media only screen and (max-width: 480px){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
}
footer{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
.FF{
    height: 100%;
    width: 100%;
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
}
footer{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
.FF{
    height: 100%;
    width: 100%;
}
}
/*Ipads i portrait*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
}
footer{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
.FF{
    height: 100%;
    width: 100%;
}
}