/*Boxar*/
header{
    margin: 0 auto;
    width: 80%;
    box-shadow: 0 10px 10px -10px #000000;
}
nav{
    margin: 0 auto;
    width: 80%;
    border-radius: 10px 10px 0 0;
}
main{
    margin: 0 auto;
    width: 80%;
    background: ghostwhite;
    border-radius: 10px 10px 10px 10px;
    box-shadow: -1px 19px 26px 8px #000000;
}
section{
    float: left;
    width: 50%;
    background: ghostwhite;
    box-shadow: 0 0 25px #000000;
}
article{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

#breakrow{
    clear: both;
}

/*Menyn*/
#menu ul{
    float: left;
    margin-left: 60px;
    margin-top: 0;
}

#menu a{
    float: left;
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 45px 6px 45px;
}

#menu ul li{
    display: block;
    list-style-type: none;
    text-decoration: none;
    width: auto;
    float: left;
    margin-left: 0.1em;
    background-color: #000B61;
    border-radius: 10px 10px 10px 10px;
}

#menu ul li.current{
    background-color: #46A3FF;
    margin-top: -2px;
}

#menu ul li.current a{
    color: #FFFFFF;
}

#menu ul li:hover{
    background: #F5D600;    
}

#form fieldset{
    max-width: 320px;
    width: 100%;
    border: none;
    box-shadow: 0 0 10px #000000;
    padding: 2em 2em 2em 2em;
}
#form legend{
    letter-spacing: 0.5em;
}
#form label{
    text-align: left;
    padding-left: 2px;
}
#form textarea{
    border: 2px solid #000000;
    background-color: ghostwhite;
    color: #000000;
}
#form select{
    border: 2px solid #000000;
    background-color: ghostwhite;
    color: #000000;
}

.center{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body{
    background-image: url(pics/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
}

iframe{
    border: none;
}

a:link{
    color: #000000;
}

a:hover{
    text-decoration: none;
    color: #000000;
}

a:visited{
    text-decoration: none;
    color: #000000;
}

/*Mobil CSS*/
@media only screen and (max-width: 480px){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
    float: none;
}
article{
    max-width: 97%;
}
audio{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
#form fieldset{
    max-width:97%;
    padding:0;
    margin:0;
}
.FF{
    height: 100%;
    width: 100%;
}
}

@media only screen and (min-width: 481px) and (max-width: 767px){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
    float: none;
}
article{
    max-width: 97%;
}
audio{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
#form fieldset{
    max-width:97%;
    padding:0;
    margin:0;
}
.FF{
    height: 100%;
    width: 100%;
}
}
/*Ipads i portrait*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
    margin: 0 auto;
    float: none;
}
article{
    max-width: 97%;
}
audio{
    max-width: 100%;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -35px;
    margin-right: 5px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
#form fieldset{
    max-width:97%;
    padding:0;
    margin:0;
}
.FF{
    height: 100%;
    width: 100%;
}
}