/*Boxar*/
header{
    margin: 0 auto;
    width: 80%;
}
nav{
    margin: 0 auto;
    width: 80%;
    border-radius: 10px 10px 0 0;
}
main{
    margin: 0 auto;
    width: 80%;
    background: #2E2E2E;
}
section{
    float: left;
    width: 50%;
    background: #2E2E2E;
}
footer{
    margin: 0 auto;
    width: 80%;
    clear: left;
    background: #2E2E2E;
    border-radius: 0 0 10px 10px;
    text-indent: 2px;
}
#breakrow{
    clear: both;
}

/*Menyn*/
#menu{
    height: 49px;
    background: #2E2E2E;
}
#menu ul{
    float: left;
    margin-left: 125px;
    margin-top: 0;
}

#menu a{
    float: left;
    text-decoration: none;
    color: #FFFFFF;
    padding: 6px 45px 6px 45px;
}

#menu ul li{
    display: block;
    list-style-type: none;
    text-decoration: none;
    width: auto;
    float: left;
    margin-left: 0.1em;
    background-color: #000B61;
}

#menu ul li.current{
    background-color: #46A3FF;
    margin-top: -1px;
}

#menu ul li.current a{
    color: #FFFFFF;
}

#menu ul li:hover{
    background: #F5D600;    
}

.center{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

body{
    background-color: #4C4C4C;
    color: #FFFFFF;
}

iframe{
    border: none;
}

/*Mobil CSS*/
@media only screen and (max-width: 480px){
header{
    max-width: 100%;
}
nav{
    max-width: 100%;
}
main{
    max-width: 100%;
}
section{
    max-width: 100%;
}
footer{
    max-width: 100%;
}
#menu{
    height: 125px;
}
#menu ul{
    float: none;
    padding-top: 3px;
    margin-left: -30px;
    margin-right: 10px;
}
#menu a{
    float: none;
}
#menu ul li{
    float: none;
}
.FF{
    height: 100%;
    width: 100%;
}
}